{%extends 'base.html'%}
{%block title%} Sentiment Anlaysis {%endblock%}
{%block body%}
    <div class="jumbotron p-3">
        <div class="well text-center">
            <h3 > Sentiment Analysis  <br> Book Reviews</h3>
        </div>
    </div>
     
 <!-- <div style="height: 100px;">
</div> -->
<form method='POST' action="{{ url_for('analyse') }}">

<div class="container">
    <div class="row flex justify-content-center">
        <div class="col-md-12 jumbotron p-3">
            <!-- {%for row in review%}
            <h1>{{ row }}</h1>
            {%endfor%} -->
             <div class="input-group input-group-lg col-md-10 text-center">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-lg">Enter Review to be Analysed:</span>
                    </div>
                     <input type="text" class="form-control" name="review" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
             </div>
             <div class="form-group   text-center">
                    <button type="submit" class="btn btn-primary float-center">Analyse</button>
             </div>
         </div>
    </div>
</div>
</form>

{%endblock%}