{%extends 'base.html'%}
{%block title%} Sentiment Anlaysis {%endblock%}
{%block body%}
    <div class="jumbotron p-3">
        <div class="well text-center">
            <h3 > Sentiment Analysis  <br> On Reviews of Products</h3>
        </div>
    </div>
     
 <!-- <div style="height: 100px;">
</div> -->
<form method='POST' action="{{ url_for('analyse') }}">

<div class="container">
    <div class="row flex justify-content-center">
        <div class="col-md-12 jumbotron p-3">
           <div class="justify-content-center text-center "><h5>Review Being Analyse:</h5>
            {% if review %}  <h6>  {{review }}  </h6>{%endif%}
        </div> 
<div class="col-md-6" id="review">
    <h5>Result Of analysis</h5>
    {% if result %}
    <div class="card bg-light mycard">
        <div class="card-body " >
           <h6>The Sentiment of the review is Predicted as {{ result }}.</h6>
        </div>
    </div>
    {% endif %}
</div>
         </div>
    </div>
</div>
</form>

{%endblock%}